<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shallom"
        tools:targetApi="31" >
        <activity
            android:name=".activity.start.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activity.start.LoginActivity"
            android:screenOrientation="user" />
        <activity
            android:name=".activity.signup.SignUpProfileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="user" />
        <activity
            android:name=".activity.signup.SignUpPhoneActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="user" />
        <activity
            android:name=".activity.signup.SignUpPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.signup.SignUpLocalityActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.doctrine.DoctrineActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.lesson.LessonActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.lesson.LessonDaySummary"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.lesson.LessonHomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.lesson.LessonPaymentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.lesson.LessonQuestionsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.requests.RequestsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.songs.SongViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.songs.SongsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.songs.SongListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activity.songs.SongGroupsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>